ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  size: landscape;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

div {
    background: linear-gradient(to bottom, #33ccff 0%, #ffcccc 100%);
}

h1 {
  display: block;
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: #ff80d5;
  background-color: #000000;

}
footer{
  display: block;
}
.pb{
  padding-bottom: 8px;
}
  
